.com_default_table {
    width: 100%;
    margin: 20px 0px 20px 0px;
}
.com_default_table tr:first-child {
    font-weight: bold;
}
.com_default_table td{
    border: 1px solid;
    white-space:nowrap;
    text-align: left;
    padding: 0px 5px 0px 5px;
    vertical-align: top;
}
.com_default_table_inner{
    margin: 0px -5px 0px -5px;
}